.aboutTag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:25vh;
    padding: 10px;
    line-height: 2rem;
}
@media screen and (max-width:960px){
    .aboutTag h2{
        font-size: 20px;
    }
}